{% extends 'base.html.twig' %}
{% block body %}
<h1>Page de Creation d'article Hourrahh .. </h1>
    <form action="" method="post">
        <input type="text" name="title" placeholder="Titre ">
        <textarea name="content" title="contenu" placeholder="article"></textarea>
        <input type="text"name="image" placeholder="img de l'article">
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}